<% @courses.each do |course| %>
    <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.category %></td>
        <td><%= course.price %></td>
        <td><%= course.photo %></td>
        <td><%= course.commission %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) if can? :edit, course %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, course %></td>
    </tr>
<% end %>