<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @course.photo %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @course.commission %>
</p>

<h5>Rating: <%= rating_for @course, "rating", :disable_after_rate => true %></h5>

<h1> Comments (<%= @comments.count %>)</h1>

<%= render 'comments/form' %>

<%= render partial: "comments/comment", collection: @comments %>



<%= link_to 'Edit', edit_course_path(@course) if can? :edit, current_user %> |
<%= link_to 'Back', courses_path  %>
